<div class="tab description flexrow" data-group="primary" data-tab="description">
    
    {{#if isPhysical}}
    <div class="weapon-details">
        <div class="weapon-detail">
            <label>Quantity</label>
            <input type="text" name="data.quantity" value="{{data.quantity}}" placeholder="1" />
        </div>
        <div class="weapon-detail">
            <label>Bulk</label>
            <input type="text" name="data.bulk" value="{{data.bulk}}" placeholder="1" />
        </div>
        <div class="weapon-detail">
            <label>Price</label>
            <input type="text" name="data.price" value="{{data.price}}" placeholder="10cp" />
        </div>
        <div class="weapon-attributes">
            {{#each data.properties as |property id|}}
            {{#if property}}
            <div class="weapon-attribute-tag">{{id}}</div>
            {{/if}}
            {{/each}}
        </div>
    </div>
    {{/if}}

    {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
</div>