<div class="spellbook-container">
    <div class="sidebar">
        <h4 class="section-title">Spell Strain</h4>
        <div class="sidebar-item">
            <label>Max Strain</label>
            <span>{{data.strain.max}}</span>
        </div>
        <div class="sidebar-item">
            <label>Current Strain</label>
            <input type="text" name="data.strain.value" value="{{data.strain.value}}" />
        </div>
        <div class="sidebar-item roll-strain clickable">
            Roll Stress Check
        </div>
    </div>
</div>