<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        {{!-- Header stuff goes here --}}
        <img class="char-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        <div class="header-fields flexcol flex3">
            <div class="char-basics flexrow">

                <h1 class="char-name flex3"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
                <aside class="char-level-container">
                    <div class="char-level">
                        <label>Level</label>
                        <input type="text" name="data.attributes.level" value="{{data.attributes.level}}" placeholder="0"/>
                    </div>
                </aside>
            </div>
            <ul class="char-summary flexrow">
                <li class="char-race"><input type="text" name="data.attributes.race" value="{{data.attributes.race}}" placeholder="Race" /></li>
                <li class="char-background"><input type="text" name="data.attributes.background" value="{{data.attributes.background}}" placeholder="Background" /></li>
                <li class="char-class"><input type="text" name="data.attributes.class" value="{{data.attributes.class}}" placeholder="Class" /></li>
                <li class="char-signatureAbility">
                    <span>Sig. Ability</span>
                    <select name="data.attributes.signatureAbility">
                        {{#select data.attributes.signatureAbility}}
                        {{#each data.abilityScores as |ability id|}}
                        <option value="{{id}}">{{ability.label}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </li>
            </ul>
        </div>
    </header>

    <section class="attributes-container">
        <ul class="attributes flexrow">
            <li class="attribute health">
                <h4 class="attribute-name box-title">Hit Points</h4>
                <div class="attribute-value multiple">
                    <input type="text" name="data.hitPoints.current" value="{{data.hitPoints.current}}" placeholder="10" />
                    <span class="sep"> / </span>
                    <input type="text" name="data.hitPoints.maximum" value="{{data.hitPoints.maximum}}" placeholder="10" />
                </div>
                <footer class="attribute-footer">
                    <span>Temp HP</span>
                    <input type="text" name="data.hitPoints.temp" value="{{data.hitPoints.temp}}" placeholder="Temp"/>
                </footer>
            </li>
            <li class="attribute armor-class">
                <h4 class="attribute-name box-title">Armor Class</h4>
                <div class="attribute-value">
                    <input type="text" name="data.attributes.armorClass" value="{{data.attributes.armorClass}}" placeholder="AC" />
                </div>
            </li>
            <li class="attribute speed">
                <h4 class="attribute-name box-title">Speed</h4>
                <div class="attribute-value">
                    <input type="text" name="data.attributes.speed" value="{{data.attributes.speed}}" placeholder="Speed" />
                </div>
            </li>
            <li class="attribute initiative">
                <h4 class="attribute-name box-title">Initiative</h4>
                <div class="attribute-value">
                    <span>{{numberFormat data.attributes.initiative.value decimals=0 sign=true}}</span>
                </div>
                <footer class="attribute-footer">
                    <span>Modifier</span>
                    <input type="text" name="data.attributes.initiative.additionalModifier" value="{{numberFormat data.attributes.initiative.additionalModifier decimals=0 sign=true}}" placeholder="0" />
                </footer>
            </li>
            <li class="attribute base-attack-bonus">
                <h4 class="attribute-name box-title">B.A.B.</h4>
                <div class="attribute-value">
                    <input type="text" name="data.attributes.baseAttackBonus" value="{{numberFormat data.attributes.baseAttackBonus decimals=0 sign=true}}" />
                </div>
            </li>
            <li class="attribute character-dc">
                <h4 class="attribute-name box-title">Character DC</h4>
                <div class="attribute-value">
                    <span>{{data.attributes.characterDC.value}}</span>
                </div>
                <footer class="attribute-footer">
                    <span>Modifier</span>
                    <input type="text" name="data.attributes.characterDC.additionalModifier"
                        value="{{numberFormat data.attributes.characterDC.additionalModifier decimals=0 sign=true}}" placeholder="0" />
                </footer>
            </li>
        </ul>
    </section>

    <nav class="sheet-navigation tabs">
        <a class="item active" data-tab="attributes">Attributes</a>
        <a class="item" data-tab="inventory">Inventory</a>
        <a class="item" data-tab="spellbook">Spells</a>
    </nav>

    <section class="sheet-body">
        <div class="tab attributes flexrow" data-group="primary" data-tab="attributes">
            <ul class="ability-scores flexrow">
                {{#each data.abilityScores as |ability id|}}
                    <li class="ability" data-ability="{{id}}">
                        <h4 class="ability-name box-title rollable">{{ability.label}}</h4>
                        <input class="ability-score" name="data.abilityScores.{{id}}.value" type="text" value="{{ability.value}}" data-dtype="Number" placeholder="10" />
                        <div class="ability-modifiers flexrow">
                            <span class="ability-mod" title="Modifier">{{numberFormat ability.modifier decimals=0 sign=true}}</span>
                        </div>
                    </li>
                {{/each}}
            </ul>

            {{!-- Skills --}}
            <ul class="skills-list">
                {{#each data.skills as |skill s|}}
                <li class="skill">
                    <div class="proficiency-container">
                        <input type="hidden" name="data.skills.{{s}}.proficiency" value="{{skill.proficiency}}" data-dType="String" />
                        <div class="proficiency-box unknown proficiency-{{skill.proficiency}}" data-skill="{{s}}" data-prof="unknown">U</div>
                        <div class="proficiency-box known proficiency-{{skill.proficiency}}" data-skill="{{s}}" data-prof="known">K</div>
                        <div class="proficiency-box trained proficiency-{{skill.proficiency}}" data-skill="{{s}}" data-prof="trained">T</div>
                        <div class="proficiency-box expert proficiency-{{skill.proficiency}}" data-skill="{{s}}" data-prof="expert">E</div>
                    </div>
                    <h4 class="skill-name rollable">{{skill.label}} ({{skill.baseAbility}})</h4>
                    <!-- <span class="skill-ability">{{skill.baseAbility}}</span> -->
                    <input class="skill-additional-modifier" type="text" name="data.skills.{{s}}.additionalModifier" value="{{numberFormat skill.additionalModifier decimals=0 sign=true}}" />
                    <span class="skill-total">{{numberFormat skill.value decimals=0 sign=true}}</span>
                </li>
                {{/each}}
            </ul>

        </div>
    </section>
    
</form>