<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <div class="inputtable-fields">
            <h1 class="name">
                <input
                    name="name"
                    type="text"
                    value="{{actor.name}}"
                    placeholder="Name"
                />
            </h1>
            <div class="coreValues flexrow">
                <div class="coreValue race"><input type="text" name="data.attributes.race" value="{{data.attributes.race}}" placeholder="Race" /></div>
                <div class="coreValue class"><input type="text" name="data.attributes.class" value="{{data.attributes.class}}" placeholder="Class" /></div>
                <div class="coreValue background"><input type="text" name="data.attributes.background" value="{{data.attributes.background}}" placeholder="Background" /></div>
                <div class="coreValue level">Level <input type="text" name="data.attributes.level" value="{{data.attributes.level}}" placeholder="1" /></label></div>
            </div>
        </div>
        <img
            class="token"
            src="{{actor.img}}"
            data-edit="img"
            title="{{actor.name}}"
        />
    </header>

    <section class="imp-values flexrow">
        <div class="trackable-container hitpoints">
            <h4 class="header">Hit Points</h4>
            <div class="body multiple">
                <input type="text" name="data.hitPoints.value" value="{{data.hitPoints.value}}" placeholder="10"/>
                <span class="sep">/</span>
                <input type="text" name="data.hitPoints.max" value="{{data.hitPoints.max}}" placeholder="10" />
            </div>
            <div class="footer">
                <input type="text" class="tempHitPoints" name="data.hitPoints.temp" value="{{data.hitPoints.temp}}" placeholder="+Temp"/>
            </div>
        </div>
        <div class="trackable-container armorClass">
            <h4 class="header">Armor Class</h4>
            <div class="body">
                <input type="text" name="data.armorClass" value="{{data.armorClass}}" placeholder="10" />
            </div>
        </div>
        <div class="trackable-container speed">
            <h4 class="header">Speed</h4>
            <div class="body">
                <input type="text" name="data.speed" value="{{data.speed}}" placeholder="30 ft" />
            </div>
        </div>
        <div class="trackable-container initiative">
            <h4 class="header">Initiative</h4>
            <div class="body">{{numberFormat data.initiative.value decimals=0 sign=true}}</div>
            <div class="footer">
                <label>Modifier</label>
                <input type="text" name="data.initiative.additionalModifier" value="{{numberFormat data.initiative.additionalModifier decimals=0 sign=true}}" placeholder="0" />
            </div>
        </div>
        <div class="trackable-container characterDC">
            <h4 class="header">Char. DC</h4>
            <div class="body">{{ data.characterDC.value }}</div>
            <div class="footer">
                <label>Modifier</label>
                <input type="text" name="data.characterDC.additionalModifier" value="{{numberFormat data.characterDC.additionalModifier decimals=0 sign=true}}" placeholder="0" /> 
            </div>
        </div>
        <div class="trackable-container miscResource">
            <h4 class="header"><input type="text" name="data.miscResources.miscResource1.label" value="{{data.miscResources.miscResource1.label}}" placeholder="Resource 1"/></h4>
            <div class="body multiple">
                <input type="text" name="data.miscResources.miscResource1.value" value="{{data.miscResources.miscResource1.value}}" placeholder="10" />
                <span class="sep">/</span>
                <input type="text" name="data.miscResources.miscResource1.max" value="{{data.miscResources.miscResource1.max}}" placeholder="10" />
            </div>
        </div>
    </section>

    <nav class="sheet-navigation tabs">
        <a class="item active" data-tab="attributes">Attributes</a>
        <a class="item" data-tab="inventory">Inventory</a>
        <a class="item" data-tab="weapons">Weapons</a>
        <a class="item" data-tab="spellbook">Spellbook</a>
        <a class="item" data-tab="notes">Notes</a>
    </nav>

    <section class="sheet-body">
        <div class="tab attributes flexrow" data-group="primary" data-tab="attributes">
            {{!-- Ability Scores --}}
            <div class="abilityScores flexcol">
                {{#each data.abilityScores as |ability id|}}
                    <div class="trackable-container abilityScore" data-ability="{{id}}">
                        <h6 class="header">{{ability.label}}</h6>
                        <div class="body"><input type="text" name="data.abilityScores.{{id}}.value" value="{{ability.value}}" data-dtype="Number" placeholder="10" /></div>
                        <div class="footer">{{numberFormat ability.mod decimals=0 sign=true}}</div>
                    </div>
                {{/each}}
            </div>

            {{!-- Skills --}}
            <div class="skills flexcol">
                {{#each data.skills as |skill id|}}
                <div class="skill" data-skill="{{id}}">
                    <div class="proficiency-container">
                        <input type="hidden" name="data.skills.{{id}}.proficiency" value="{{skill.proficiency}}" data-dType="String" />
                        <div class="proficiency-box unknown proficiency-{{skill.proficiency}}" data-skill="{{id}}" data-prof="unknown">U</div>
                        <div class="proficiency-box known proficiency-{{skill.proficiency}}" data-skill="{{id}}" data-prof="known">K</div>
                        <div class="proficiency-box trained proficiency-{{skill.proficiency}}" data-skill="{{id}}" data-prof="trained">T</div>
                        <div class="proficiency-box expert proficiency-{{skill.proficiency}}" data-skill="{{id}}" data-prof="expert">E</div>
                    </div>
                    <h6 class="skill-name">
                        {{skill.label}}
                    </h6>
                    <span class="skill-ability-container">
                        <input type="hidden" name="data.skills.{{id}}.baseAbility" value="{{skill.baseAbility}}" />
                        (<span class="skill-proficiency">{{skill.baseAbility}}</span>)
                    </span>
                    <input class="skill-additionalModifier" type="text" name="data.skills.{{id}}.additionalModifier" value="{{numberFormat skill.additionalModifier decimals=0 sign=true}}" />
                    <span class="sep">=</span>
                    <span class="skill-total">{{numberFormat skill.value decimals=0 sign=true}}</span>
                </div>
                {{/each}}
            </div>

            {{!-- Third Column --}}
            <div class="misc flexcol">
                <div class="savingThrows flexcol">
                    <h4 class="section-title">Saving  Throws</h4>
                    {{#each data.savingThrows as |savingThrow st|}}
                    <div class="savingThrow flexrow" data-savingThrow="{{st}}">
                        <h6 class="savingThrow-name">{{savingThrow.label}}</h6>
                        <span class="savingThrow-baseAbility-container">
                            <input type="hidden" name="data.savingThrows.{{st}}.baseAbility" value="{{savingThrow.baseAbility}}" />
                            (<span class="savingThrow-baseAbility">{{savingThrow.baseAbility}}</span>)
                        </span>
                        <input type="text" name="data.savingThrows.{{st}}.base" value="{{numberFormat savingThrow.base decimals=0 sign=true}}" placeholder="Base"/>
                        <input type="text" name="data.savingThrows.{{st}}.additionalModifier" value="{{numberFormat savingThrow.additionalModifier deciamls=0 sign=true}}" placeholder="+Mod"/>
                        <span class="sep">=</span>
                        <span class="total">{{numberFormat savingThrow.value decimals=0 sign=true}}</span>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
</form> 
