<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="flexrow">
          <h1 class="name spell-name">{{item.name}}</h1>
        </div>
        <div class="flexrow spell-attributes">
          <label>Arcanum Cost - {{data.arcanumCost}}</label>
          <label>{{labels.spellDomain}} Domain</label>
          {{#if data.concentration}}
            <label>Concentration - {{data.concentration}}</label>
          {{/if}}
          {{#each data.components as |val label|}}
            {{#if val}}
              <label>{{label}}</label>
            {{/if}}
          {{/each}}
          <label>Range - {{data.range}}</label>
          <label>Duration - {{data.duration}}</label>
        </div>
    </header>

    {{!-- Spell Description --}}
    <section class="sheet-body">
        <div class="flexrow">
            <div id="description">{{{data.description}}}</div>
        </div>
    </section>
    <section class="sheet-footer">
      <div class="flexrow cast-bar">
        <button class="spellcast">Cast Spell</button>
        {{#if data.heighten.formula}}
            <label>Heighten - {{data.heighten.formula}}</label>
        {{/if}}
        {{#if data.damage.parts.length}}
            <label>Parts:</label>
            {{#each data.damage.parts}}
                <label>{{this}}</label>
            {{/each}}
        {{/if}}
        {{#if data.save.dc}}
            <label>Save: {{labels.saveAbility}}</label>
        {{/if}}
      </div>
    </section>
</form>
